<!DOCTYPE html>
<html>
<head>
    <title>Job Applicants Report</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.9.1/build/cssbase/cssbase-min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" >
</head>
<body>
<div id="page">
    <table class="job-applicants">
        <thead>
        <tr>
            <th>Job</th>
            <th>Applicant Name</th>
            <th>Email Address</th>
            <th>Website</th>
            <th>Skills</th>
            <th>Cover Letter Paragraph</th>
        </tr>
        </thead>

        <tbody>
        {% for job in jobs %}
            {% for applicant in job.applicants.all %}
{#                Cache the row span for each applicant, based on the number of their skills and make sure it's at least 1 #}
                {% with applicant_rowspan=applicant.num_skills|default:'1' %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ job.num_skills }}" class="job-name">{{ job.name }}</td>
                        {% endif %}
                        <td rowspan="{{ applicant_rowspan }}" class="applicant-name">{{ applicant.name }}</td>
                        <td rowspan="{{ applicant_rowspan }}">
{#                            Only create a link if there is an email address #}
                            {% if applicant.email %}
                                <a href="mailto:{{ applicant.email }}">{{ applicant.email }}</a>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td rowspan="{{ applicant_rowspan }}">
{#                            Only create a link if there is a website #}
                            {% if applicant.website %}
                                <a href="{{ applicant.website }}">{{ applicant.website }}</a>
                            {% else %}
                                ---
                            {% endif %}
                        </td>
                        <td>{{ applicant.skills.all|first|default:"---" }}</td>
                        <td rowspan="{{ applicant_rowspan }}">{{ applicant.cover_letter|default:"---" }}</td>
                    </tr>
                {% endwith %}
                {% for skill in applicant.skills.all %}
                    {% if forloop.counter > 1 %}
                        <tr>
                            <td>{{ skill }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
        <tfooter>
            <tr>
                <td colspan="6">{{ num_applicants }} Applicants, {{ num_unique_skills }} Unique Skills</td>
            </tr>
        </tfooter>
    </table>
</div>
</body>
</html>

